@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

html,
body {
  font-family: $font;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
}

body {
  &.loading {
    overflow: hidden;
  }
}

:root {
  --color-left: #{$white};
  --color-right: #{$orient};
  --color-mode: #{$white};
  --bg: #{$white};
  --bg-page: #{$white};
  --bg-left: #{$deep-cerulean};
  --bg-right: #{$white};
  --bg-color-mode: #{$black};
  --border-color: #{$orient};
}

.dark-mode {
  --color-left: #{$white};
  --color-right: #{$white};
  --color-mode: #{$black};
  --bg: #{$pickled-bluewood-2};
  --bg-page: #{$transparent};
  --bg-left: #{$pickled-bluewood-2};
  --bg-right: #{$pickled-bluewood};
  --bg-color-mode: #{$white};
  --border-color: #{$white};
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  display: inline-block;
  color: $white !important;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus {
  box-shadow: none !important;
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

hr {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-bottom: 3px double transparent;
  border-image: $gradient-right;
  border-image-slice: 1;
}
