@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

html,
body {
  background: url("~assets/background.png") repeat;
  font-family: $font;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $white;
}

body {
  transition: $transition-2;

  &.loading {
    overflow: hidden;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: $white !important;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

svg {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus {
  box-shadow: none !important;
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

hr {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-bottom: 3px double transparent;
  border-image: $gradient-right;
  border-image-slice: 1;
}

.page {
  margin: 15px auto;
  background-color: $white;
  border: 3px double $orient;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: $transition-2;

  @include media-breakpoint-down(xs) {
    margin: 0 auto;
    border: none;
  }

  &.active {
    transform: translate3d(80%, 0, 0);
  }

  .left {
    background-color: $deep-cerulean;
    color: $white;
    transition: $transition;

    &.dark-mode {
      background-color: $pickled-bluewood-2;
    }
  }

  .right {
    background-color: $white;
    color: $orient;
    transition: $transition;

    &.dark-mode {
      background-color: $pickled-bluewood;
      color: $white;
    }

    .wrapper {
      padding: 15px;
    }
  }
}

.dark-mode {
  background-color: $pickled-bluewood;
}
