@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

html,
body {
  font-family: $font;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: url("~assets/background.png") var(--bg) center repeat;
  -webkit-transition: $transition-2;
  -moz-transition: $transition-2;
  -o-transition: $transition-2;
  -ms-transition: $transition-2;
  transition: $transition-2;
}

body {
  &.loading,
  &.toggle {
    overflow: hidden;
  }
}

:root {
  --bg: #{$white};
  --bg-left: #{$lochmara};
  --bg-right: #{$white};
  --bg-qr: #{$white};
  --bg-button: #{$concrete};
  --bg-button-2: #{$white};
  --bg-meter: #{$orient};
  --bg-gradient: #{$gradient-right};
  --bg-gradient-after: #{$gradient-left};
  --color-left: #{$white};
  --color-right: #{$lochmara};
  --color-mode: #{$white};
  --border-color: #{$white};
}

.dark-mode {
  --bg: #{$pickled-bluewood-2};
  --bg-left: #{$pickled-bluewood-2};
  --bg-right: #{$pickled-bluewood};
  --bg-qr: #{$pickled-bluewood};
  --bg-button: #{$pickled-bluewood-2};
  --bg-button-2: #{$pickled-bluewood-2};
  --bg-meter: #{$pickled-bluewood};
  --bg-gradient: #{$gradient-right-dark};
  --bg-gradient-after: #{$gradient-left-dark};
  --color-right: #{$white};
  --color-mode: #{$black};
  --color-nuxt-js: #{$pickled-bluewood-2};
  --border-color: #{$pickled-bluewood};
}

.sepia-mode {
  --bg: #{$parchment};
  --bg-right: #{$parchment};
  --bg-qr: #{$parchment};
  --bg-button: #{$concrete};
  --bg-button-2: #{$parchment};
  --color-left: #{$parchment};
  --color-mode: #{$parchment};
  --border-color: #{$parchment};
}

.container {
  @include media-breakpoint-only(sm) {
    max-width: 100%;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

hr {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  border-bottom: 3px double transparent;
  border-image: $gradient-right;
  border-image-slice: 1;
}
