@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

$font: "PT Sans", sans-serif;
$transparent: transparent;
$white: #ffffff;
$concrete: #f2f2f2;
$mercury: #e6e6e6;
$parchment: #f1e7d0;
$sushi: #77ac39;
$neptune: #76c2af;
$caribbean-green: #02be8a;
$lochmara: #0082c3;
$deep-cerulean: #007db3;
$orient: #005c85;
$blue-bayoux: #4f5d73;
$pickled-bluewood: #2f495e;
$pickled-bluewood-2: #223544;
$black: #000000;
$transition: 0.3s ease;
$transition-2: 0.5s ease;
$gradient-right: linear-gradient(135deg, $lochmara 0, $caribbean-green 100%);
$gradient-left: linear-gradient(135deg, $caribbean-green 0, $lochmara 100%);
