$font: "PT Sans", sans-serif;
$white: #ffffff;
$bckgclr: #f2f2f2;
$blue-dark: #005c85;
$blue-light: #007db3;
$green: #77ac39;
$transition: all 0.3s ease;
$transition-2: all 0.5s ease;
$r-gradient: linear-gradient(135deg, $blue-light 0, $green 100%);
$l-gradient: linear-gradient(135deg, $green 0, $blue-light 100%);
